:root {
  --primary-color: #f1c40f;
}

* {
  box-sizing: border-box;
}

a {
  border-bottom: var(--primary-color) 4px solid;
  border-end-start-radius: 3px;
  border-end-end-radius: 5px;
  border-start-start-radius: 5px;
  border-start-end-radius: 3px;
}
