:root {
  --primary-color: #ffd14b;
  --highlight-color: #ffe28e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --highlight-color: #806000;
  }
  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
}

main {
  max-width: 40rem; /* big enough to fit the badges nicely */
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: underline;
}

h2 {
  display: inline-block;
  margin-bottom: 0.2rem;
}
