.main {

}

.header {
  position: relative;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45ch;
  min-width: 38ch;
  margin: auto;
  padding: 4rem;
}
.headerDoodle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

.title {
  margin-bottom: 0;
}
.summary {
  margin-top: 0;
  text-align: center;
}

.github {
  position: relative;
  text-align: left;
  padding: 6rem;
}
.githubDoodle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  z-index: -1;
}
.githubLogo {
  width: auto;
  height: 1.4em;
  vertical-align: bottom;
}
