.main > div {
  margin: 2rem auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1ch;
  max-width: 20ch;
  box-sizing: content-box;
}
.title {
  margin-bottom: 0;
}
.summary {
  margin-top: 0;
  text-align: center;
}

.feature {
  padding: 1ch;
}
.githubLogo {
  width: auto;
  height: 1.4em;
  vertical-align: bottom;
}
@media (prefers-color-scheme: dark) {
  .githubLogo {
    filter: invert(1);
  }
}

.underlineMe {

}

.badges {
  padding: 1ch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.badges img {
  width: auto;
  height: 4rem;
}
