.main {
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45ch;
  margin: auto;
}
.title {
  margin-bottom: 0;
}
.summary {
  margin-top: 0;
  text-align: center;
}

.github {
  position: relative;
  text-align: left;
}
.githubLogo {
  width: auto;
  height: 1.4em;
  vertical-align: bottom;
}
